.btn {
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background:  #F3932B;
  text-align: center;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  transition: 0.5s ease all;
  @include hover {
		background-color: #DB780C;
     color: #fff;
	}
	&:active {
    background-color: #DB780C;
     color: #fff;
		transform: scale(0.95);
	}

  &_dark {
    background:  #202C38;
    color: #fff;
  }
}


.link {
  flex: 1 1 auto;
  display: flex;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  background:  rgba(32, 44, 56, 0.08);
  color:  #202C38;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  &::before {
    content: '';
    display: block;
    width: 31px;
    height: 31px;
    background: url('../img/ozon.svg');
  }
  &.wb {
    &::before {
      background: url('../img/wb.svg');
    }
  }
  @include hover {
    color: #F3EFEA;
    background: #202C38;
  }
}
