// color-primary
$color-primary-black: #000000;
$color-primary-white: #f7f4ee;

// color-accent
$color-accent-orange: #c77f15;
$color-accent-orange_dark: #9e5e00;
$color-accent-red: #f15156;
$color-accent-green: #3bb273;

//gradient
$gradient-light: linear-gradient(180deg, #ff9900 14%, #f8e5b5 32%, #a16f10 50%, #f8e5b5 68%, #ff9900 93%);
$gradient-dark: linear-gradient(189deg, #1c1a18 0%, black 100%);

//background

//gray
$gray-70: rgba(#f7f4ee, 0.7);
$gray-50: rgba(#f7f4ee, 0.5);
$gray-30: rgba(#f7f4ee, 0.3);
$gray-20: rgba(#f7f4ee, 0.2);
$gray-10: rgba(#f7f4ee, 0.1);
$gray-5: rgba(#fefeff, 0.05);
$gray-1: rgba(#fefeff, 0.01);
