.hero {
  padding: 150px 0 80px;
  min-height: 100vh;
  background: url('../img/hero_bg.jpg') center center / cover no-repeat;
  position: relative;
  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 84px;
  }
  &__head {
    h1 {
      margin: 0;
      font-size: 102px;
      font-weight: 400;
      line-height: 80%;
      letter-spacing: -4.08px;
      margin-bottom: 24px;
      i {
        color:  #F3932B;
        font-size: 70px;
        font-style: italic;
        font-weight: 500;
        line-height: 80%;
        letter-spacing: -2.8px;
      }
    }
    p {
      margin: 0;
      color:  rgba(32, 44, 56, 0.8);
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__list {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(16px);
  }

  &__item {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(32, 44, 56, 0.08);
    padding-left: 28px;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: #F3932B;
      position: absolute;
      top: 4px;
      left: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    b {
      align-self: stretch;
      font-size: 20px;
      font-weight: 700;
      line-height: 100%;
    }
    p {
      margin: 0;
      margin-top: 8px;
      align-self: stretch;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__image {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    img {
      max-height: 100%;
      height: 100%;
      width: 100%;
      object-position: center bottom;
    }
  }
}

.hero-form {
  max-width: 346px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 32px;
  background:  #FFF;
  padding: 8px;
  &__header {
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color:  #FFF;
    align-self: stretch;
    border-radius: 24px 24px 8px 8px;
    background: #202C38;
    h2 {
      margin: 0;
      align-self: stretch;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 100%;
    }
    p {
      margin: 0;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__form {
    padding: 20px 12px 12px;
    width: 100%;
  }
}

@include media-tablet-horizontal {
  .hero {
    padding: 150px 0 64px;
    margin-bottom: 540px;
    &__wrapper {
      position: static;
      align-items: stretch;
    }

    &__content {
      position: relative;
      z-index: 1;
      gap: 48px;
      max-width: 470px;
    }
    &__head {
      h1 {
        font-size: 82px;
        i {
          font-size: 54px;
          line-height: 80%;
        }
      }
    }

    &__image {
      position: absolute;
      bottom: 0px;
      left: 0;
      transform: translateX(0);
      height: 100%;
      width: 150%;
      img {
        max-height: 100%;
        height: 100%;
        width: 100%;
        object-position: center bottom;
      }
    }
    &__form {
      position: absolute;
      top: calc(100% - 30px);
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      max-width: 90%;
      width: 100%;
    }
  }
}

@include media-mobile-horizontal {
  .hero {
    padding: 94px 0 332px;
    margin-bottom: 480px;
    &__content {
      gap: 32px;
      max-width: 470px;
      align-items: center;
    }
    &__head {
      h1 {
        font-size: 40px;
        i {
          font-size: 32px;
        }
      }
      p {
        font-size: 16px;
        margin-top: 16px;
      }
    }

    &__list {
      width: 100%;
      padding: 16px;
      gap: 16px;
      border-radius: 16px;
    }
    &__item {
      padding-bottom: 16px;
      &:last-child {
        padding-bottom: 0;
      }
      &::after {
        width: 12px;
        height: 12px;
      }
      b {
        font-size: 16px;
      }
      p {
        font-size: 12px;
        margin-top: 4px;
      }
    }

    &__image {
      left: 50%;
      transform: translateX(-60%);
      width: 180%;

    }
  }
  .hero-form {
  border-radius: 16px;
  padding: 8px;
  &__header {
    padding: 24px 16px;
    border-radius: 16px 16px 8px 8px;
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }

  &__form {
    padding: 20px 8px 8px;
  }
}
}
