.offer {
  margin-top: -64px;
  &__block {
    border-radius: 32px;
    padding: 8px;
    background: #202C38;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    gap: 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 32px 24px 24px;
    h2 {
      margin: 0;
      font-size: 32px;
      font-weight: 400;
      line-height: 80%;
      letter-spacing: -0.64px;
    }
    p {
      margin: 0;
      margin-top: 16px;
      align-self: stretch;
      font-size: 16px;
      line-height: 120%;
      opacity: 0.8;
    }
  }

  &__list {
    margin-top: auto;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 12px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    p {
      margin: 0;
      margin-bottom: 0;
    }
  }

  &__icon {
    flex: 0 0 auto;
    width: 36px;
    height: 36px;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: rgba(25, 173, 61, 0.08);
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__images {
    max-width: 650px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px 24px 24px 8px;
    }
  }
  .btn {
    margin-top: auto;
    min-width: 220px;
  }
}

@include media-mobile-horizontal {
  .offer {
  margin-top: -64px;
  &__block {
    flex-direction: column-reverse;
    border-radius: 24px;
  }

  &__content {
    padding: 24px 8px 24px 8px;
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }

  &__list {
    padding-top: 24px;
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    p {
      margin: 0;
      margin-bottom: 0;
      font-size: 14px;
    }
  }


  &__images {
    max-width: 100%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
     border-radius: 16px 16px 4px 4px;
    }
  }
  .btn {
    margin-top: auto;
    width: 100%;
  }
}
}
