.steps {
  padding: 100px 0px;
  gap: 48px;
  border-radius: 64px;
  background:  #FFF;
  &__header {
    margin-bottom: 48px;
    h2 {
      margin: 0;
      flex: 1 1 50%;
      color: #202C38;
      font-size: 70px;
      font-weight: 400;
      line-height: 80%;
      letter-spacing: -2.8px;
    }

    p {
      margin: 0;
      margin-top: 24px;
      color:  rgba(32, 44, 56, 0.80);
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;

  }

  &__item {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background:  #F9F5F0;

    img {
      margin: 29px;
    }
    span {
      display: block;
      margin: 0 21px;
      display: flex;
      padding: 4px 12px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 100px;
      background:  #202C38;
      backdrop-filter: blur(28px);
      color:  #FFF;
      font-size: 12px;
      font-style: italic;
      font-weight: 500;
      line-height: 120%;
      text-transform: uppercase;
    }
  }

  &__content {
    h3 {
      margin: 0;
      align-self: stretch;
      color:  #202C38;
      font-size: 32px;
      font-weight: 400;
      line-height: 80%;
      letter-spacing: -0.64px;
    }
    p {
      margin: 0;
      margin-top: 16px;
      align-self: stretch;
      color:  rgba(32, 44, 56, 0.80);
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__footer {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      color:  rgba(32, 44, 56, 0.80);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      span {
        color: #19AD3D;
        font-weight: 500;
      }
    }
  }
}

@include media-tablet-horizontal {
  .steps {
    padding: 84px 0px;
    border-radius: 48px;
    &__header {
      h2 {
        font-size: 54px;
      }
    }

    &__wrapper {
      flex-direction: column;

    }

    &__item {
      flex: 1 1 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    &__icon {
      flex: 0 0 120px;
      flex-direction: column;
      img {
        margin: 18px;
      }
      span {
        margin: 0 auto;
      }
    }

    &__content {
      padding-top: 24px;
      h3 {
        font-size: 26px;
      }
      p {
        font-size: 20px;
      }
    }

    &__footer {
      margin-top: 32px;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}


@include media-mobile-horizontal {
  .steps {
    padding: 64px 0px;
    border-radius: 32px;
    &__header {
      h2 {
        font-size: 32px;
      }
      p {
        margin-top: 16px;
        font-size: 16px;
      }
    }

    &__item {
      flex: 1 1 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

    &__icon {
      flex: 0 0 100px;
      flex-direction: column;
      img {
        margin: 0px;
      }
      span {
        margin: 0 auto;
      }
    }

    &__content {
      padding-top: 8px;
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }

    &__footer {
      margin-top: 32px;
      justify-content: center;
      align-items: center;
      .btn {
        width: 100%;
      }
    }
  }
}
