.faq-block {
  margin: 120px 0;
  &__wrapper {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 64px;
  }

  &__title {
    flex: 0 0 auto;
    margin-bottom: 48px;
    max-width: 618px;
    h2 {
      margin: 0;
      flex: 1 1 50%;
      color: #202C38;
      font-size: 70px;
      font-weight: 400;
      line-height: 80%;
      letter-spacing: -2.8px;
    }

    p {
      margin: 0;
      margin-top: 24px;
      color:  rgba(32, 44, 56, 0.80);
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__content {
    width: 100%;
  }
}

@include media-tablet-horizontal {
  .faq-block {
    margin: 84px 0;
    &__wrapper {
      flex-direction: column;
      gap: 32px;
    }

    &__title {
      flex: 0 0 auto;
      margin-bottom: 48px;
      max-width: 100%;
      h2 {
        font-size: 54px;
      }

      p {
        margin-top: 24px;
        font-size: 20px;
      }
    }

    &__content {
      width: 100%;
    }
  }
}

@include media-mobile-horizontal {
  .faq-block {
    margin: 64px 0;
    &__wrapper {
      flex-direction: column;
      gap: 32px;
    }

    &__title {
      flex: 0 0 auto;
      margin-bottom: 32px;
      max-width: 100%;
      h2 {
        font-size: 32px;
      }

      p {
        margin-top: 16px;
        font-size: 16px;
      }
    }

    &__content {
      width: 100%;
    }
  }
}
