@import "ui-kit/media";
@import "ui-kit/colors";
@import "ui-kit/fonts";

@import "mixins/media";

@import "common/global";
@import "common/controls";
@import "common/form";
@import "common/accordion";
@import "common/content";
@import "common/menu";

@import "chunk/header";
@import "chunk/footer";
@import "chunk/popup";


@import "blocks/01-main";
@import "blocks/02-offers";
@import "blocks/03-cooking-methods.scss";
@import "blocks/04-details";
@import "blocks/06-set";
@import "blocks/07-catalog";
@import "blocks/09-steps";
@import "blocks/10-personal";
@import "blocks/11-faq";
