@import "ui-kit/media";
@import "ui-kit/colors";
@import "ui-kit/fonts";

@import "mixins/media";

@import "common/global";
@import "common/controls";
@import "common/form";
@import "common/accordion";
@import "common/content";
@import "common/menu";

@import "chunk/header";
@import "chunk/footer";
@import "chunk/popup";


@import "blocks/01-main.scss";
@import "blocks/02-features.scss";
@import "blocks/03-summary.scss";
@import "blocks/04-offer.scss";
@import "blocks/05-working.scss";
@import "blocks/06-marketplace.scss";
@import "blocks/07-catalog.scss";
@import "blocks/08-extended.scss";
@import "blocks/09-steps.scss";
@import "blocks/10-about.scss";
@import "blocks/11-reviews.scss";
@import "blocks/12-video.scss";
@import "blocks/13-details.scss";
